{{- $tags := .chezmoi.config.data.tags -}}
{{- if not (index $tags "cs2") -}}
.local/share/Steam/steamapps/common/Counter-Strike Global Offensive/game/csgo/cfg/autoexec.cfg
{{- end -}}
{{- if not (index $tags "pipewire") -}}
.config/pipewire/**
{{- end -}}
{{- if not (index $tags "hyprland") -}}
.config/autostart/swayosd-server.desktop
.config/autostart/waybar.desktop
.config/hypr/**
{{- end -}}

{{- if not (index $tags "dev") -}}
.config/autostart/jetbrains-toolbox.desktop
{{- end -}}

{{- if not (index $tags "entertainment") -}}
.config/autostart/jellyfin-mpv-shim.desktop
.config/spicetify/**
{{- end -}}

{{- if not (index $tags "laptop") -}}
.config/autostart/nm-applet.desktop
{{- end -}}

{{- if not (index $tags "desktop") -}}
.config/autostart/info.mumble.Mumble.desktop
.config/autostart/vesktop.desktop
.config/autostart/steam.desktop
.config/MangoHud/**
{{- end -}}

.config/hypr/hyprland.wiki/**
.config/waybar/waybar.wiki/**

AGENTS.md
GEMINI.md

.config/hypr/AGENTS.md
.config/waybar/AGENTS.md
