[submodule ".config/mpv/.gits/mpv-quality-menu"]
	path = .config/mpv/.gits/mpv-quality-menu
	url = https://github.com/christoph-heinrich/mpv-quality-menu.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
