@import "widgets";

* {
  all: unset;
}

tooltip {
  background: #2e3440;
  color: #e5e6e7;
  border-radius: 1.5rem 1rem;
  border: 1px solid #6f7175;
}

.popup {
  background: #2e3440;
  color: #e5e6e7;
  border: 1px solid #6f7175;
}

.popup menuitem:hover {
  background: grey;
}

window {
  background: transparent;
  color: transparent;

  * {
    font-family: "Inconsolata Go Nerd Font";
    font-size: 0.85rem;
    border-radius: 1.5rem 1rem;
    padding: 2px 6px;
  }
}
