theme = "{{ .chezmoi.config.data.theme }}"
font-family = "GeistMono Nerd Font"
font-size = 8
background-opacity = 0.7
background-opacity-cells = false
window-padding-x = 0
window-padding-y = 0
window-padding-balance = true
window-decoration = auto
window-inherit-working-directory = true
window-inherit-font-size = true
mouse-hide-while-typing = true
cursor-click-to-move = true
scrollback-limit = 134217728
shell-integration-features = sudo,ssh-env,ssh-terminfo
quick-terminal-position = top
quick-terminal-size = 35%,75%
quick-terminal-autohide = false
keybind = global:super+backspace=toggle_quick_terminal
