@define-color rp-base #191724;
@define-color rp-surface #1f1d2e;
@define-color rp-overlay #26233a;
@define-color rp-hl-low #21202e;
@define-color rp-hl-med #403d52;
@define-color rp-hl-high #524f67;

@define-color rp-muted #6e6a86;
@define-color rp-subtle #908caa;
@define-color rp-text #e0def4;

@define-color rp-love #eb6f92;
@define-color rp-gold #f6c177;
@define-color rp-rose #ebbcba;
@define-color rp-pine #31748f;
@define-color rp-foam #9ccfd8;
@define-color rp-iris #c4a7e7;

/* To use Rosé Pine Moon, replace:
rp-base: #232136; rp-surface: #2a273f; rp-overlay: #393552;
rp-hl-low: #2a283e; rp-hl-med: #44415a; rp-hl-high: #56526e;
rp-text: #e0def4; rp-subtle: #908caa; accents same.
For Dawn (light), you’ll likely also want to invert contrasts. */

@define-color cc-bg @rp-surface;
@define-color noti-border-color @rp-hl-high;
@define-color noti-bg @rp-overlay;
@define-color noti-bg-darker @rp-hl-low;
@define-color noti-bg-hover @rp-hl-med;
@define-color noti-bg-focus alpha(@rp-hl-high, 0.6);
@define-color text-color @rp-text;
@define-color text-color-disabled @rp-subtle;
@define-color bg-selected @rp-iris;

    {
    font-family: JetBrainsMono NFP;
    font-weight: bold;
    font-size: 14px;
    }

.control-center .notification-row:focus,
.control-center .notification-row:hover {
opacity: 1;
background: @noti-bg-darker;
}

.notification-row {
outline: none;
margin: 20px;
padding: 0;
}

.notification {
background: transparent;
margin: 0px;
}

.notification-content {
background: @cc-bg;
padding: 7px;
border-radius: 0px;
border: 2px solid @noti-border-color;
margin: 0;
}

.close-button {
background: @rp-gold;
color: @cc-bg;
text-shadow: none;
padding: 0;
border-radius: 0px;
margin-top: 5px;
margin-right: 5px;
}

.close-button:hover {
box-shadow: none;
background: @rp-rose;
color: @cc-bg;
transition: all .15s ease-in-out;
border: none;
}

.notification-action {
color: @text-color;
border: 2px solid @noti-border-color;
border-top: none;
border-radius: 0px;
background: @rp-base;
}

.notification-default-action:hover,
.notification-action:hover {
color: @text-color;
background: @noti-bg-hover;
}

.summary {
padding-top: 7px;
font-size: 13px;
color: @text-color;
}

.time {
font-size: 11px;
color: @rp-gold;
margin-right: 24px;
}

.body {
font-size: 12px;
color: @text-color;
}

.control-center {
background: @cc-bg;
border: 2px solid @noti-border-color;
border-radius: 0px;
}

.control-center-list {
background: transparent;
}

.control-center-list-placeholder {
opacity: .5;
}

.floating-notifications {
background: transparent;
}

.blank-window {
background: alpha(@rp-base, 0.1);
}

.widget-title {
color: @text-color;
background: @noti-bg-darker;
padding: 5px 10px;
margin: 10px 10px 5px 10px;
font-size: 1.5rem;
border-radius: 5px;
}

.widget-title > button {
font-size: 1rem;
color: @text-color;
text-shadow: none;
background: @noti-bg;
box-shadow: none;
border-radius: 5px;
}

.widget-title > button:hover {
background: @rp-gold;
color: @cc-bg;
}

.widget-dnd {
background: @noti-bg-darker;
padding: 5px 10px;
margin: 5px 10px 10px 10px;
border-radius: 5px;
font-size: large;
color: @text-color;
}

.widget-dnd > switch {
border-radius: 4px;
background: @rp-muted;
}

.widget-dnd > switch:checked {
background: @rp-gold;
border: 1px solid @rp-gold;
}

.widget-dnd > switch slider {
background: @cc-bg;
border-radius: 5px;
}

.widget-dnd > switch:checked slider {
background: @cc-bg;
border-radius: 5px;
}

.widget-label {
margin: 10px 10px 5px 10px;
}

.widget-label > label {
font-size: 1rem;
color: @text-color;
}

.widget-mpris {
color: @text-color;
background: @noti-bg-darker;
padding: 5px 10px 0px 0px;
margin: 5px 10px 5px 10px;
border-radius: 0px;
}

.widget-mpris > box > button {
border-radius: 5px;
}

.widget-mpris-player {
padding: 5px 10px;
margin: 10px;
}

.widget-mpris-title {
font-weight: 700;
font-size: 1.25rem;
}

.widget-mpris-subtitle {
font-size: 1.1rem;
color: @text-color-disabled;
}

.widget-buttons-grid {
font-size: x-large;
padding: 5px;
margin: 5px 10px 10px 10px;
border-radius: 5px;
background: @noti-bg-darker;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
margin: 3px;
background: @cc-bg;
border-radius: 5px;
color: @text-color;
border: 1px solid @noti-border-color;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
background: @rp-gold;
color: @cc-bg;
}

.widget-menubar > box > .menu-button-bar > button {
border: none;
background: transparent;
color: @text-color;
}

.topbar-buttons > button {
border: none;
background: transparent;
color: @text-color;
}
