[Desktop Entry]
Exec=/usr/bin/qpwgraph -m /home/mpuchstein/.config/qpwgraph/default.qpwgraph
Name=qpwgraph
Comment=A PipeWire Graph Qt GUI Interface
Type=Application
