##############################################
################## MY APPS ###################
##############################################

# Set programs that you use
$terminal = uwsm app -- kitty
$term_tmux = uwsm app -- kitty -e tmux
$term_tmux_append = uwsm app -- kitty -e tmux a
$editor = uwsm app -- kitty -e nvim
$alteditor = uwsm app -- zeditor

$filemanager = uwsm app -- nautilus
$launcher = uwsm app -- owlry -p app,cmd,system,ssh
$clipman = uwsm app -- owlry -m clipboard

$browser = uwsm app -- firefox
$browserprv = uwsm app -- firefox --private-window
$browsernewinst = uwsm app -- firefox --new-instance
$altbrowser = uwsm app -- chromium

$taskman = uwsm app -- owlry -m uuctl
$pwdmgr = uwsm app -- bitwarden-desktop
$soundctl = uwsm app -- pwvucontrol

$notcenter = uwsm app -- swaync-client -t -sw
$notdnd = uwsm app -- swaync-client -d
$nothide = uwsm app -- swaync-client --hide-latest
$notclose = uwsm app -- swaync-client --close-latest
$notcloseall = uwsm app -- swaync-client --close-all

$lockcmd = swaylock -f

##############################################
################## KEYBINDS ##################
##############################################

$mainMod = SUPER

# Ghostty quick terminal via GlobalShortcuts portal.
bind = $mainMod, Backspace, global, com.mitchellh.ghostty:LOGO+BackSpace

# Launchers
bind = $mainMod, Return, exec, $terminal
bind = $mainMod SHIFT, Return, exec, $term_tmux
bind = $mainMod ALT_L, Return, exec, $term_tmux_append
bind = $mainMod CTRL, Return, exec, $terminal
bind = $mainMod, E, exec, $filemanager
bind = $mainMod SHIFT, E, exec, $editor
bind = $mainMod CTRL, E, exec, $alteditor
bind = $mainMod, W, exec, $browser
bind = $mainMod SHIFT, W, exec, $browserprv
bind = $mainMod CTRL, W, exec, $altbrowser
bind = $mainMod ALT, W, exec, $browsernewinst
bind = $mainMod, Space, exec, $launcher
bind = $mainMod, X, exec, $taskman
bind = $mainMod, C, exec, $clipman
bind = $mainMod, R, exec, $pwdmgr
bind = $mainMod, F4, exec, $soundctl
bind = $mainMod, backslash, exec, mic-toggle-usb

# Communication
bind = $mainMod, A, exec, hypr-element-toggle
bind = $mainMod, D, exec, hypr-comms-toggle

# Mail
bind = $mainMod SHIFT, A, exec, hypr-mail-toggle

# Notes
bind = $mainMod SHIFT, D, exec, hypr-joplin-toggle

# Gaming
bind = $mainMod, S, exec, hypr-steam-toggle

# Notifications
bind = $mainMod, Grave, exec, $notcenter
bind = $mainMod SHIFT, Grave, exec, $notdnd

# Session
bind = $mainMod, Pause, exec, $lockcmd
bind = $mainMod SHIFT, Pause, exec, uwsm stop
bind = $mainMod SHIFT, Escape, exec, $lockcmd

# Window management
bind = $mainMod, Q, killactive,
bind = $mainMod, F, togglefloating,
bind = $mainMod SHIFT, F, fullscreen
bind = $mainMod, I, pin

# Special workspaces
bind = $mainMod SHIFT, Space, togglespecialworkspace          # show/hide special workspace
bind = $mainMod CTRL, Space, movetoworkspace, special          # move to the special workspace
bind = $mainMod, N, togglespecialworkspace, passwordmgr

# Master layout
bind = $mainMod, Tab, layoutmsg, swapwithmaster
bind = $mainMod SHIFT, Tab, layoutmsg, addmaster
bind = $mainMod CTRL, Tab, layoutmsg, removemaster
bind = $mainMod CTRL SHIFT, Tab, layoutmsg, rollnext

# Scrolling layout
bind = $mainMod, comma, layoutmsg, move -col
bind = $mainMod, period, layoutmsg, move +col
bind = $mainMod CTRL, comma, layoutmsg, colresize 0.9
bind = $mainMod CTRL, period, layoutmsg, fit active
bind = $mainMod CTRL SHIFT, period, layoutmsg, togglefit
bind = $mainMod ALT, comma, exec, hypr-workspace-layout toggle-ms
bind = $mainMod ALT, period, exec, hypr-workspace-layout cycle

# MOVE FOCUS with mainMod + vim keys
bind = $mainMod, H, movefocus, l
bind = $mainMod, L, movefocus, r
bind = $mainMod, K, movefocus, u
bind = $mainMod, J, movefocus, d

# MOVE WINDOW with mainMod SHIFT + vim keys
bind = $mainMod SHIFT, H, movewindow, l
bind = $mainMod SHIFT, L, movewindow, r
bind = $mainMod SHIFT, K, movewindow, u
bind = $mainMod SHIFT, J, movewindow, d

# Resize window with mainMod + CTRL + vim keys
bind = $mainMod CTRL, h, resizeactive,-25 0
bind = $mainMod CTRL, l, resizeactive,25 0
bind = $mainMod CTRL, k, resizeactive,0 -25
bind = $mainMod CTRL, j, resizeactive,0 25

# SWITCH WORKSPACES with mainMod + [0-9]
bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace, 10

# MOVE CURRENT WORKSPACE TO A MONITOR with mainMod + SHIFT + [,/.]
bind = $mainMod SHIFT, comma, movecurrentworkspacetomonitor, l
bind = $mainMod SHIFT, period, movecurrentworkspacetomonitor, r

# MOVE ACTIVE WINDOW TO A WORKSPACE with mainMod + SHIFT + [0-9]
bind = $mainMod SHIFT, 1, movetoworkspace, 1
bind = $mainMod SHIFT, 2, movetoworkspace, 2
bind = $mainMod SHIFT, 3, movetoworkspace, 3
bind = $mainMod SHIFT, 4, movetoworkspace, 4
bind = $mainMod SHIFT, 5, movetoworkspace, 5
bind = $mainMod SHIFT, 6, movetoworkspace, 6
bind = $mainMod SHIFT, 7, movetoworkspace, 7
bind = $mainMod SHIFT, 8, movetoworkspace, 8
bind = $mainMod SHIFT, 9, movetoworkspace, 9
bind = $mainMod SHIFT, 0, movetoworkspace, 10

# MOVE ACTIVE WINDOW TO A WORKSPACE SILENTLY with mainMod + CTRL + SHIFT + [0-9]
bind = $mainMod CTRL SHIFT, 1, movetoworkspacesilent, 1
bind = $mainMod CTRL SHIFT, 2, movetoworkspacesilent, 2
bind = $mainMod CTRL SHIFT, 3, movetoworkspacesilent, 3
bind = $mainMod CTRL SHIFT, 4, movetoworkspacesilent, 4
bind = $mainMod CTRL SHIFT, 5, movetoworkspacesilent, 5
bind = $mainMod CTRL SHIFT, 6, movetoworkspacesilent, 6
bind = $mainMod CTRL SHIFT, 7, movetoworkspacesilent, 7
bind = $mainMod CTRL SHIFT, 8, movetoworkspacesilent, 8
bind = $mainMod CTRL SHIFT, 9, movetoworkspacesilent, 9
bind = $mainMod CTRL SHIFT, 0, movetoworkspacesilent, 10

bind = $mainMod, Z, changegroupactive, f
bind = $mainMod SHIFT, Z, changegroupactive, b
bind = $mainMod CTRL, Z, togglegroup

bind = $mainMod ALT_L, H, movewindoworgroup, l
bind = $mainMod ALT_L, J, movewindoworgroup, d
bind = $mainMod ALT_L, K, movewindoworgroup, u
bind = $mainMod ALT_L, L, movewindoworgroup, r

# MOVE/RESIZE WINDOWS with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

{{ if .chezmoi.config.data.tags.laptop }}
# Brightness controls
bindel = , XF86MonBrightnessUp, exec, brightnessctl set +5%
bindel = , XF86MonBrightnessDown, exec, brightnessctl set 5%-
{{ end }}

# Output volume control
bindel = , XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+
bindel = , XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bindel = , XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle

# Input volume control
bindel = SHIFT, XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 5%+
bindel = SHIFT, XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 5%-
bindel = SHIFT, XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle

# Zoom control
bind = $mainMod, M, exec, hyprctl keyword cursor:zoom_factor 2
bind = $mainMod SHIFT, M, exec, hyprctl keyword cursor:zoom_factor 1

# Requires playerctl
bindl = , XF86AudioNext, exec, playerctl next
bindl = , XF86AudioPause, exec, playerctl play-pause
bindl = , XF86AudioPlay, exec, playerctl play-pause
bindl = , XF86AudioPrev, exec, playerctl previous

# Screenshot and recording controls
bind = , Print, exec, grimblast --notify copy screen
bind = $mainMod, Print, exec, owlry-screenshot-menu
bind = SHIFT, Print, exec, uwsm app -- ghostty --class=scrrec -e wf-recorder -f ~/Videos/scrrec.mkv -y -g "$(slurp)"
