[general]
backend = "swww"
# backend_cmd = "/usr/bin/swww"
# resize = "crop"
# filter = "Lanczos3"
# transition_type = "simple"
# transition_step = 90
# transition_fps = 30
# transition_duration = 3
# fill_color = "000000ff"
{{ range .chezmoi.config.data.monitors }}
[[output]]
name = "{{ .name }}"
mode = "cycle"
dir = "{{ if index . "wallpaper-dir" }}{{ index . "wallpaper-dir" }}{{ else }}~/.config/wallpaper/{{ .name | lower }}{{ end }}"
extensions = ["png", "jpg", "jpeg", "gif", "webp"]
{{- if index . "wallpaper-resize" }}
resize = "{{ index . "wallpaper-resize" }}"
{{- end }}
{{- if index . "wallpaper-filter" }}
filter = "{{ index . "wallpaper-filter" }}"
{{- end }}
{{- if index . "wallpaper-transition-type" }}
transition_type = "{{ index . "wallpaper-transition-type" }}"
{{- end }}
{{ end -}}
