.workspaces {
	/* Green */
	$light: #bad012;
	$dark: #53730a;
	
  /* Orange */
	//$light: #fde10e;
	//$dark: #ff6520;
	
	background: $dark;
	padding: 3px 1rem;
	
	&--ws {
		border-radius: 50%;
		font-family: 'Symbols Nerd Font Mono';
		border: 1px solid blue;
		color: black;

    &--label {
			font-size: 0.7rem;
		}
	
		&--active {
			background: $light;
			color: $dark;
			border-color: $light;
		}
		
		&--inactive {
			background: $dark;
			color: $dark;
			border-color: $light;
		}
	}	
}
