.screencast{
  
  /* Colors */
  $sc-active: indigo;
  $sc-inactive: darkorchid;
  $sc-label-active: maroon;
  $sc-label-inactive: gainsboro;

  background: $sc-active;
  color: $sc-label-active;

  &--active{
    background: $sc-inactive;
    color: $sc-label-inactive;
  }
}
