.sysmon{
  background: darkred;
  color: black;
}
.danger{
    color: red
}
.ram{
  background: tan;
}
.disk{
  background: mediumturquoise;
}
.cpu{
  background: lightgreen;
}
.net{
  background: plum;
}
